.container{
	width: 1600px;
}

.content{
	margin-top:200px;
	padding:20px 20px;
	background:#f1f1f1;
	border:1px solid #ccc;
}

label{
	display: block;
}

label.error{
	color: #cc0000;
	margin-top:10px;
}

.alert{
	margin-bottom:20px;
}

.di-form{
	margin-bottom:40px;
}


.title{
	/*width:200px;
	display: inline-block;*/
	display: block;
}

.toggle-options{
	margin:20px 0px;
	padding-bottom:15px;
	border-bottom: 1px solid #ccc;
}

.title-codes{
	width:320px;
	height:200px;
	overflow: scroll;
	background: #FFF;
	padding:10px;
	border:1px solid #ccc;

}

.title-codes::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
.title-codes::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
    -webkit-box-shadow: 0 0 5px #000;
}